$blanquis: #ffff;
$naranjita: #ed5b15;
$face: #2400edeb;
$ig: #d11b85;
$mail: #ce4921;
$whap: #11b611;

$colores:(
    palm: #41200b,
    naran: #5d3707,
    arena1: #e9c16a,
    arena2: #cfad89,
    arena3: #cfc1af,
    agua:  #78b2c4,
    ocean: #1088a0,
    coral1: #818792,
    coral2: #94697e,
);

$estilos:(
    color: transparent,
    alineacion: center,
    font-size: 16px,
    relleno: 3.5px,
);