@import 'variables';






.nav-link {
    height: 45px;
    text-decoration: none;
    border-radius: 12px;
    border: RGB(2 0 0/ 30%) 0px solid;
    box-sizing: border-box;
    padding: 11px;
    margin-bottom: 4px;
    margin-left: 77px;
    margin-right: 104px;
    background: $naranjita;
    color: $blanquis;
    display: block;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.form-control {
    margin-top: 3px;
    margin-bottom: 32px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: $blanquis;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: RGB(255 255 255 / 90%);
}
.navbar-light .navbar-nav .nav-link {
    color: RGB(255 255 255);
}
.navbar-light .navbar-toggler {
    background-color: #ed5b15bf;
    color: #ed5b15bf;
    border-color: #ed5b15bf;
}
.navbar-toggler-icon {
    display: inline-block;
    background-color: #ed5b15c2;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    background-color: $naranjita;
    color: $blanquis;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: initial;}

 .d-flex{
                    
     margin-top: 12px;
     margin-bottom: 188px;
     margin-left: 118px;
     margin-right: 109px;

                    .btn {
                        display: flex;
                        height: 50px;
                        border-radius: 20px;
                        border: RGB(2 0 0/30%) 0px solid;
                        box-sizing: border-box;
                        padding: 6px;
                        margin-bottom: 30px;
                        margin-left: 30px;
                        background: #ed5b15bf;
                        color: #ffff;
                        font-weight: bold;
                        font-size: 12px;
                        transition: background .4s;}
     }

@media (min-width: 992px){
    .nav-link {
        height: 45px;
        text-decoration: none;
        border-radius: 12px;
        border: RGB(2 0 0 / 30%) 0px solid;
        box-sizing: border-box;
        padding: 11px;
        margin-bottom: -108px;
        margin-left: -86px;
        margin-right: 117px;
        background: #ed5b15bf;
        color: $blanquis;
        display: block;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
            
    }
    .form-control {
    margin-top: 3px;
    margin-bottom: 32px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: $blanquis;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    height: 75px;
    float: left;
    left: -60%;
    top: 25%;}

    .d-flex{
        margin-top: -100px;
        margin-bottom: 180px;
        margin-left: 135px;
        margin-right: -270px;

                    .btn {
                            display: flex;
                            height: 50px;
                            border-radius: 20px;
                            border: RGB(2 0 0/30%) 0px solid;
                            box-sizing: border-box;
                            padding: 10px;
                            margin-bottom: 30px;
                            margin-left: 30px;
                            background: #ed5b15bf;
                            color: #ffff;
                            font-weight: bold;
                            font-size: 12px;
                            transition: background .4s;
                      }
    }       
    
}
header{
    min-height: 100vh;
    margin: 0 auto;
    background-image: url(https://wallpapercave.com/wp/wp4069424.jpg);
    background-position: bottom;
    width: auto;
}

.logo__image{
    display: grid;
    width: 95%;
    justify-content: center;

                &:hover{
                    animation: shakeY;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                }
}


body{
    font-family: sans-serif;
    background-color: lightgrey;
    margin: 0 auto;
}
.main{
    display: flex;
    background-color: lavenderblush
}

.slider {
    background-image: linear-gradient(to top, #4A73AE,#92dccd,#ffe9ca, #dbe4cf);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.slide{
    display: flex;
    border-radius: 13px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 00px;
    padding-bottom: 0px;
    
}
li.slide img{
    width: 100%;
}
.rounded{
    margin-top: 5px;
    margin-left: 14px;
    margin-right: 48px;
    margin-bottom: 27px;
    border-radius: 3.25rem !important;
}
@media screen and (min-width: 500px){
.rounded {
    margin-top: 5px;
    margin-left: 14px;
    margin-right: 48px;
    margin-bottom: 27px;
    border-radius: 3.25rem !important;
}
}
footer{
    display: grid;
    max-width: -webkit-fill-available;
    min-width: 250px;
    background-image: linear-gradient(to right bottom, #4f3e37, #dbe4cf);
}
div h1{
    display: flex;
    font-family: 'Aclonica', sans-serif;
}
 h3{
    display: flex;

}

iframe{
    display: flex;
    width: 100%;height: 450px;
    padding-top: 30px;
    padding-bottom: 15px
}
div p{
    font-family: 'Aclonica';
    color: $naranjita;
    font-size: small;
}
main{
    display: flex;
    flex-flow: column;    
    background-color: lavenderblush;
}
.info {
    border-radius: 8px;
    display: grid;
    font-size: larger;
    justify-content: left;
    font-family: 'Aclonica', sans-serif;
    color: $naranjita;
    background-image: linear-gradient(to right bottom, #4f3e37, #dbe4cf);
    padding: 9px;
    margin-top: -18px;
    margin-bottom: -1px;
}

.formulario{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: 1000;
}

.formu{
display: flex;
height: 50px;
box-sizing: border-box;
padding: 30px;
margin-bottom: 30px;
border: rgba(24,149,215,1);
border-style: solid;
border-width: 3px;
color: rgba(24,149,215,1);
}
.btn{
    display: flex;
    height: 50px;
    border-radius: 20px;
    border: RGB(2 0 0 / 30%) 0px solid;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    background: #ed5b15bf;
    color: $blanquis;
    font-weight: bold;
    font-size: 12pt;
    transition: background .4s;
    cursor: pointer;
}
.flex__container {
    background-image: linear-gradient(#4A73AE,#92dccd,#ffe9ca, #dbe4cf);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}
.cardProduct {
    width: 300px;
    height: 450px;
    border-color: rgb(168, 165, 165);
    border-style: solid;
    border-width: 3px;
    margin-top: 10px;
    margin-right: 35px;
    margin-bottom: 5px;
    margin-left: 53px;
}

.cardProduct__image {
    width: 100%;
}

.cardProduct__description {
    padding: 10px;
}

.cardProduct__description__price {
    margin-top: 10px;
}

.cardProduct__description__text {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 25px;
}

.cardProduct__description__action {
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 16px;
    margin-top: 38px;
    margin-bottom: 30px;
    margin-left: 30px;
    background: $naranjita;
    font-size: 12pt;
    width: 40%;
    text-decoration: none;
    border: RGB(2 0 0 / 30%) 0px solid;
    color: $blanquis;
}

.borderRounded {
    border-radius: 10px;

}
.info2{
    font-family: sans-serif;
}
.backg{
    font-family: cursive;
    display: flex;
    background-color: RGB(252 153 26);
    color: RGB(255 255 255);
    font-size: x-large;
}
.negrin{
    background-color: RGB(68, 67, 67);
}
.negrin__li{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    flex-flow: column;
    padding-top: 30px;
    padding-bottom: 30px;
    color: antiquewhite;

}

.piecito{
    display: grid;
    grid-template-rows: 10% 10% 40% 30%;
    align-items: flex-start;
   
}
.grid1{
    display: grid;
    font-size: small;
    justify-content: space-between;
    list-style: none;
}
li p{
    display: grid;
    color: $naranjita;
    font-size: 24px;
    font-family: 'Aclonica';
}
.grid2{
    list-style: none;
    display: grid;
    font-size: small;
    animation: none;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
 li h2{
    display: grid;
    width: fit-content;
    font-family: 'Playball', cursive;
    color: $face;
}
.grid3{
    display: grid;
    justify-content: space-between;
    list-style: none;
    color: #fdd61bd9;
    font-size: 15px;
}
.grid3 h2{
    display: grid;
    
}


.orden:hover{
    background-color: map-get($map: $estilos, $key: color);
    text-align: map-get($map: $estilos, $key: alineacion);
    padding: map-get($map: $estilos, $key: relleno);
    font-size: map-get($map: $estilos, $key: font-size);
}

@each $fondo, $color in $colores{
    .orden--#{$fondo}{
        background-color: $fondo;
        color: $color;
    }  
}
.grid4{
    display: grid;
    justify-content: space-between;
    color: $naranjita;
    list-style: none;
}

li a img{
    width: 50px;
}   
                    .face:hover {
                    width: 80px;
                    background-color: $face;
                    border-radius: 15px;
}

                    .ig:hover{
                    background-color: $ig;
                    width: 80px;
                    border-radius: 15px;
}
                    .mail:hover{
                    background-color: $mail;
                    width: 80px;
                    border-radius: 15px;
}
                    .whap:hover{
                    background-color: $whap;
                    width: 80px;
                    border-radius: 15px;
}

@media screen and (min-width: 500px) {
    .piecito{
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 50% 50%;
        align-items: flex-start;
       
    }
    .grid1{
        display: grid;
        font-size: small;
        justify-content: space-between;
        list-style: none;
    }
     h1{
        display: grid;
        color: $naranjita;
    }
    .grid2{
        list-style: none;
        display: grid;
        font-size: small;
        display: inline-block;
        margin: 0 0.5rem;
        animation: wobble;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    
    }
      li h2{
        display: grid;
        width: fit-content;
        font-family: 'Playball', cursive;
        color: $face;
    }
    .grid3{
        display: grid;
        justify-content: space-between;
        list-style: none;
        color: #fdd61bd9;
        font-size: 15px;
    }
    .grid3 h2{
        display: grid;
    }
    .orden{
        display: grid;
    }
    @each $fondo, $color in $colores{
        .orden#{$fondo}{
            background-color: $color;
            color: $color
        }
        
    }
    .grid4{
        display: grid;
        justify-content: space-between;
        color: $naranjita;
        list-style: none;
    }
    li a img{
        width: 40px;
    }
        .face:hover{
        width: 80px;
        background-color: $face;
        border-radius: 15px;
    }
    
    .ig:hover{
        background-color: $ig;
        width: 80px;
        border-radius: 15px;
}
        .mail:hover{
        background-color: $mail;
        width: 80px;
        border-radius: 15px;
}
        .whap:hover{
        background-color: $whap;
        width: 80px;
        border-radius: 15px;
}


.anita{
    text-align: center;
}
hr:not([size]) {
    height: 8px;
}
hr{
    background-color: crimson;
}
.rounded {
    border-radius: 3.25rem!important;
}}
