@import 'variables';

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

                            .container-fluid{
                                display: flex;
                                flex-wrap: inherit;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                padding-right: var(--bs-gutter-x,.75rem);
                                padding-left: var(--bs-gutter-x,.75rem);
                                margin-right: auto;
                                margin-left: auto;}

                            .navbar-brand {
                                 padding-top: 0.3125rem;
                                 padding-bottom: 0.3125rem;
                                 margin-right: 1rem;
                                 font-size: 1.25rem;
                                 text-decoration: none;
                                 white-space: nowrap;
                                }
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;

                            .nav-link {
                                height: 45px;
                                text-decoration: none;
                                border-radius: 12px;
                                border: RGB(2 0 0/ 30%) 0px solid;
                                box-sizing: border-box;
                                padding: 11px;
                                margin-bottom: 1px;
                                margin-left: 0px;
                                margin-right: 300px;
                                background: $naranjita;
                                color: $blanquis;
                                display: block;
                                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
                            }
                        }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: RGB(255 255 255 / 90%);
}
.navbar-light .navbar-nav .nav-link {
    color: RGB(255 255 255);
}
.navbar-light .navbar-toggler {
    background-color: #ed5b15bf;
    color: #ed5b15bf;
    border-color: #ed5b15bf;
}
.navbar-toggler{
    margin: 150px;
    margin-left: 31px;
    margin-right: 250px;
    margin-top: 0px;
    font-family: inherit;

}
.navbar-toggler-icon {
    display: inline-block;
    background-color: #ed5b15c2;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.nav-item .dropdown{
    position: relative;
}
.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    background-color: $naranjita;
    color: $blanquis;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: initial;
    height: 0px;
    float: left;
    left: -60%;
    top: 22%;
    padding-top: 0px;
}

 .d-flex{
                    
    margin-top: 77px;
    margin-bottom: 170px;
    margin-left: 8px;
    margin-right: 320px;
                            .form-control {
                                margin-top: 3px;
                                margin-bottom: 29px;
                                display: block;
                                width: 100%;
                                padding: 0.375rem 26.75px;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: #212529;
                                background-color: $blanquis;
                                background-clip: padding-box;
                                border: 1px solid #ced4da;
                                appearance: none;
                                border-radius: 0.25rem;
                                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            }
                            .btn {
                                display: flex;
                                height: 42px;
                                border-radius: 20px;
                                border: RGB(2 0 0/30%) 0px solid;
                                box-sizing: border-box;
                                padding: 6px;
                                margin-top: 7px;
                                margin-bottom: 0px;
                                margin-bottom: 27px;
                                margin-left: 7px;
                                margin-right: -182px;
                                background: #ed5b15bf;
                                color: #ffff;
                                font-weight: bold;
                                font-size: 12px;
                                transition: background .4s;
                            }
     }

@media (min-width: 992px){

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

                                    .container-fluid{
                                        display: flex;
                                        flex-wrap: inherit;
                                        align-items: center;
                                        justify-content: space-between;
                                        width: 100%;
                                        padding-right: var(--bs-gutter-x,.75rem);
                                        padding-left: var(--bs-gutter-x,.75rem);
                                        margin-right: auto;
                                        margin-left: auto;
                                    }
                                    .navbar-brand {
                                        padding-top: 0.3125rem;
                                        padding-bottom: 0.3125rem;
                                        margin-right: 1rem;
                                        font-size: 1.25rem;
                                        text-decoration: none;
                                        white-space: nowrap;
                                    }
                      }
    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
                    
                            .nav-link {
                                height: 45px;
                                text-decoration: none;
                                border-radius: 12px;
                                border: RGB(2 0 0 / 30%) 0px solid;
                                box-sizing: border-box;
                                padding: 11px;
                                margin-bottom: -108px;
                                margin-left: -86px;
                                margin-right: 117px;
                                background: #ed5b15bf;
                                color: $blanquis;
                                display: block;
                                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;  
                            }
    }
    .nav-item .dropdown{
        position: relative;
    }
    .dropdown-menu.show {
        display: block;
    }
    
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        height: 57px;
        float: left;
        left: -60%;
        top: 22%;
        padding-top: 0px;
    }
    .navbar-toggler-icon {
        display: inline-block;
        background-color: #ed5b15c2;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 1rem;
        clear: both;
        font-weight: 400;
        background-color: $naranjita;
        color: $blanquis;
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        border: 0;
    }

    .d-flex{
        margin-top: -91px;
        margin-bottom: 203px;
        margin-left: -6px;
        margin-right: -4px;

                    .form-control {
                        margin-top: 3px;
                        margin-bottom: 32px;
                        display: block;
                        width: 100%;
                        padding: 0.375rem 0.75rem;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1;
                        color: #212529;
                        background-color: $blanquis;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        appearance: none;
                        border-radius: 0.25rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        }

                    .btn {
                        display: flex;
                        height: 50px;                    ;
                        border-radius: 20px;
                        border: RGB(2 0 0/30%) 0px solid;
                        box-sizing: border-box;
                        padding: 14px;
                        margin-bottom: 28px;
                        margin-left: 19px;
                        margin-top: -2px;
                        background: #ed5b15bf;
                        color: #ffff;
                        font-weight: bold;
                        font-size: 12px;
                        transition: background .4s;
                      }
    }       
    
}
header{
    min-height: 100vh;
    margin: 0 auto;
    background-image: url(https://wallpapercave.com/wp/wp4069424.jpg);
    background-position: bottom;
    width: auto;
}

.logo__image{
    display: grid;
    width: 95%;
    justify-content: center;

                &:hover{
                    animation: shakeY;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                }
}

.container-fluid{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
                        .carousel-indicators {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            z-index: 2;
                            display: flex;
                            justify-content: center;
                            padding: 0;
                            margin-right: 15%;
                            margin-bottom: 1rem;
                            margin-left: 15%;
                            list-style: none;
                        }
                        .carousel-inner {
                            position: relative;
                            width: 100%;
                            overflow: hidden;
                        }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

body{
    font-family: sans-serif;
    background-color: lightgrey;
    margin: 0 auto;
}
.main{
    display: flex;
    background-color: lavenderblush
}

.slider {
    background-image: linear-gradient(to top, #4A73AE,#92dccd,#ffe9ca, #dbe4cf);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.slide{
    display: flex;
    border-radius: 13px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 00px;
    padding-bottom: 0px;
    
}
li.slide img{
    width: 100%;
}
.rounded{
    margin-top: 5px;
    margin-left: 14px;
    margin-right: 48px;
    margin-bottom: 27px;
    border-radius: 3.25rem !important;
}
@media screen and (min-width: 500px){
.rounded {
    margin-top: 5px;
    margin-left: 14px;
    margin-right: 48px;
    margin-bottom: 27px;
    border-radius: 3.25rem !important;
}
}
footer{
    display: grid;
    max-width: -webkit-fill-available;
    min-width: 250px;
    background-image: linear-gradient(to right bottom, #4f3e37, #dbe4cf);
}
div h1{
    display: flex;
    font-family: 'Aclonica', sans-serif;
}
 h3{
    display: flex;

}

iframe{
    display: flex;
    width: 100%;height: 450px;
    padding-top: 30px;
    padding-bottom: 15px
}
div p{
    font-family: 'Aclonica';
    color: $naranjita;
    font-size: small;
}
main{
    display: flex;
    flex-flow: column;    
    background-color: lavenderblush;

                    div p{
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
}
.info {
    border-radius: 8px;
    display: grid;
    font-size: larger;
    justify-content: left;
    font-family: 'Aclonica', sans-serif;
    color: $naranjita;
    background-image: linear-gradient(to right bottom, #4f3e37, #dbe4cf);
    padding: 9px;
    margin-top: 0px;
    margin-right: -3px;
    margin-left: -3px;
    margin-bottom: 0px;

                            .row {
                                --bs-gutter-x: 1.5rem;
                                --bs-gutter-y: 0;
                                display: flex;
                                flex-wrap: wrap;
                                margin-top: calc(-1 * var(--bs-gutter-y));
                                margin-right: calc(-.5 * var(--bs-gutter-x));
                                margin-left: calc(-.5 * var(--bs-gutter-x));
                            }
}
@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
}
.formulario{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: 1000;
}

.formu{
display: flex;
height: 50px;
box-sizing: border-box;
padding: 30px;
margin-bottom: 30px;
border: rgba(24,149,215,1);
border-style: solid;
border-width: 3px;
color: rgba(24,149,215,1);
}
.btn{
    display: flex;
    height: 50px;
    border-radius: 20px;
    border: RGB(2 0 0 / 30%) 0px solid;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    background: #ed5b15bf;
    color: $blanquis;
    font-weight: bold;
    font-size: 12pt;
    transition: background .4s;
    cursor: pointer;
}
.flex__container {
    background-image: linear-gradient(#4A73AE,#92dccd,#ffe9ca, #dbe4cf);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

                    .borderRounded {
                        border-radius: 10px;
                    }

                    .cardProduct {
                        width: 300px;
                        height: 420px;
                        border-color: rgb(168, 165, 165);
                        border-style: solid;
                        border-width: 3px;
                        margin-top: 10px;
                        margin-right: 35px;
                        margin-bottom: 5px;
                        margin-left: 53px;

                    .cardProduct__image {
                    width: 100%;
                    }
                    .cardProduct__description {
                    padding: 10px;
                    }
                    .cardProduct__description__price {
                     margin-top: 10px;
                    }
                    .cardProduct__description__text {
                    margin-top: 15px;
                    margin-bottom: 20px;
                    text-align: justify;
                    line-height: 25px;
                    }
                    .cardProduct__description__action {
                    display: flex;
                    justify-content: space-evenly;
                    border-radius: 20px;
                    padding: 16px;
                    padding-left: 35px;
                    padding-right: 35px;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    margin-left: 30px;
                    background: $naranjita;
                    font-size: 12pt;
                    width: 40%;
                    text-decoration: none;
                    border: RGB(2 0 0 / 30%) 0px solid;
                    color: $blanquis;
                    }
        }
}
.info2{
    font-family: sans-serif;
}

.negrin{
    background-color: RGB(68, 67, 67);
}
.negrin__li{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    flex-flow: column;
    padding-top: 30px;
    padding-bottom: 30px;
    color: antiquewhite;

}

.piecito{
    display: grid;
    grid-template-rows: 10% 10% 40% 30%;
    align-items: flex-start;
   
                    .grid1{
                        display: grid;
                        font-size: small;
                        justify-content: space-between;
                        list-style: none;
                                            li p{
                                                display: grid;
                                                color: $naranjita;
                                                font-size: 24px;
                                                font-family: 'Aclonica';
                                            }
                        }
                    .grid2{
                        list-style: none;
                        display: grid;
                        font-size: small;
                        animation: none;
                        animation-duration: 5s;
                        animation-iteration-count: infinite;

                    }
                                            li h2{
                                                display: grid;
                                                width: fit-content;
                                                font-family: 'Playball', cursive;
                                                color: $face;
                                                margin-top: -26px;
                                                margin-bottom: 0.5rem;
                                                margin-right: 106px;
                                                font-weight: 500;
                                                line-height: 1.2;
                    }
                    .grid3{
                        display: grid;
                        justify-content: space-between;
                        list-style: none;
                        color: #fdd61bd9;
                        font-size: 15px;
                                            .list{
                                                margin-top: -3px;
                                                margin-bottom: 30px;
                                            }
                                            h2{
                                            display: grid;
                                            }
                     }
                }

.orden:hover{
    background-color: map-get($map: $estilos, $key: color);
    text-align: map-get($map: $estilos, $key: alineacion);
    padding: map-get($map: $estilos, $key: relleno);
    font-size: map-get($map: $estilos, $key: font-size);
}

@each $fondo, $color in $colores{
    .orden--#{$fondo}{
        background-color: $fondo;
        color: $color;
    }  
}
.grid4{
    display: grid;
    justify-content: space-between;
    color: $naranjita;
    list-style: none;
    margin-top: 60px;
}

li a img{
    width: 50px;
}   
                    .face:hover {
                    width: 80px;
                    background-color: $face;
                    border-radius: 15px;
}

                    .ig:hover{
                    background-color: $ig;
                    width: 80px;
                    border-radius: 15px;
}
                    .mail:hover{
                    background-color: $mail;
                    width: 80px;
                    border-radius: 15px;
}
                    .whap:hover{
                    background-color: $whap;
                    width: 80px;
                    border-radius: 15px;
}

@media screen and (min-width: 500px) {
    .piecito{
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 50% 50%;
        align-items: flex-start;
       
                .grid1{
                    display: grid;
                    font-size: small;
                    justify-content: space-between;
                    list-style: none;
                }
                h1{
                    display: grid;
                    color: $naranjita;
                }
                .grid2{
                    list-style: none;
                    display: grid;
                    font-size: small;
                    display: inline-block;
                    margin: 0 0.5rem;
                    animation: wobble;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                
                                        li h2{
                                            display: grid;
                                            width: fit-content;
                                            font-family: 'Playball', cursive;
                                            color: $face;
                                            margin-top: 16px;
                                            margin-bottom: 0.5rem;
                                            margin-right: 106px;
                                            font-weight: 500;
                                            line-height: 1.2;
                                        }
                        }
                .grid3{
                    display: grid;
                    justify-content: space-between;
                    list-style: none;
                    color: #fdd61bd9;
                    font-size: 15px;
                                        .list{
                                            margin-top: -3px;
                                            margin-bottom: 30px;
                                        }
                                        h2{
                                        display: grid;
                                        }
                        }
                .orden{
                    display: grid;
                }
                @each $fondo, $color in $colores{
                    .orden#{$fondo}{
                        background-color: $color;
                        color: $color
                    }
                    
                }
                .grid4{
                    display: grid;
                    justify-content: space-between;
                    color: $naranjita;
                    list-style: none;
                    margin-top: 10px;
                
                                            li a img{
                                                width: 40px;
                                                margin-top: 9px;
                                            
                                                        .face:hover{
                                                            width: 80px;
                                                            background-color: $face;
                                                            border-radius: 15px;
                                                        }
                                                        
                                                        .ig:hover{
                                                            background-color: $ig;
                                                            width: 80px;
                                                            border-radius: 15px;
                                                        }
                                                        .mail:hover{
                                                            background-color: $mail;
                                                            width: 80px;
                                                            border-radius: 15px;
                                                        }
                                                        .whap:hover{
                                                            background-color: $whap;
                                                            width: 80px;
                                                            border-radius: 15px;
                                                        }
                                                    }
                        }
        }
}

.guadi{
    display: block;
                    p{
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        font-family: 'Aclonica';
                        color: #ed5b15;
                        font-size: medium;
                    }
}
.anita{
    display: block;
    text-align: center;
                    p{
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        font-family: 'Aclonica';
                        color: #ed5b15;
                        font-size: medium;
                    }
}
hr:not([size]) {
    height: 8px;
}
hr{
    background-color: crimson;
}
.juan{
    display: block;
                    p{
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        font-family: 'Aclonica';
                        color: #ed5b15;
                        font-size: medium;
                    }
}
.rounded {
        border-radius: 3.25rem!important;
        margin-top: 5px;
        margin-left: 14px;
        margin-right: 48px;
        margin-bottom: 27px;
}
.nos{
    display: block;
}
.backg{
    font-family: cursive;
    display: flex;
    background-color: RGB(252 153 26);
    color: RGB(255 255 255);
    font-size: x-large;
                        div p {
                            font-family: 'Aclonica';
                            color: #ed5b15;
                            font-size: medium;
                        }
}